.sidebar {
  min-height: calc(100vh - 39.7px);
}
.sidebarText {
  font-weight: 500;
}

.title {
  font-weight: 700;
  margin-bottom: 0;
}

.breadCrumbLink {
  color: #025fce;
}

.heading {
  background-color: #cecece;
  padding-top: 20px;
}

.menu > li:not(:last-child) {
  margin-right: 5px;
}