.main {
  height: calc(100vh - 56px - 30px);
  display: flex;
  align-items: center;
}

.sidebar {
  min-height: calc(100vh - 39.7px);
}
.sidebarText {
  font-weight: 500;
}

.title {
  font-weight: 700;
  margin-bottom: 0;
}

.breadCrumbLink {
  color: #025fce;
}

.heading {
  background-color: #cecece;
  padding-top: 20px;
}

.menu {
  display: flex;
  color: white;
  cursor: pointer;
}

.menu > li:not(:last-child) {
  margin-right: 25px;
}

.homeMenu {
  width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}