.menu {
  display: flex;
  color: white;
  cursor: pointer;
  height: 100%;
}

.menu >li{
text-align: center;
padding: 10px;
border: 1px solid #3b0066;
width: 80px;
}

.menu > li:not(:last-child) {
  margin-right: 25px;
}
.menu >li:hover{
  border: 1px solid white;
  border-radius: 50px;
}

.homeMenu {
  width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}